@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#636060;
	/*background: url('../images/pattern.jpg');*/
	padding-bottom: 15px;
}

select, option, input{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#636060;

}
/*div {
	border:#FF0000 solid 1px;

}*/
p{
  margin:0px;
  padding:0px;
}

img {
	border:none;

}

form{
  margin:0px;
  padding:0px;
}

.main{
	position:relative;
}

.bodysite{
	width:1005px;
	margin:0 auto 0 auto;
	position:relative;
}

.bodyPOD{
	width:1005px;
	margin:0 auto 0 auto;
	position:relative;
}

.headbox{
	position:relative;
	width:1005px;
	height:247px;
}

.bigbanner{
	/*position:absolute;
	left:220px;
	top:125px;
	z-index:1;
	width:760px;
	height:92px;*/
	position: absolute;
	left: 252px;
	top: 126px;
	z-index: 1;
	width: 728px;
	height: 92px;
	overflow: hidden;
}
.circle {
	position:absolute;
	left:248px;
	top:121px;
	background-image:url("../images/circle.gif");
	background-repeat:no-repeat;
	width:23px;
	height:23px;
	z-index: 100;
}

.podlogka{
	position:absolute;
	top:247px;
	left:0px;
	background-image:url("../images/podlogka.jpg");
	background-repeat:no-repeat;
	width:1005px;
	height:50px;
	z-index:0;
}

*html .podlogka{
	/*margin-top:-4px;*/

}

.content{
	width:1005px;
	position:relative;
	background: #fff;

}

.left{
	width:180px;
	float:left;
	overflow:hidden;
	margin-top: -37px !important;
}

* html .left{
	width:180px;
	float:left;
	z-index:4;
	overflow:hidden;
}


.center{
	width:565px;
	float:left;


}

*html .center{
	width:560px;
	margin-left:2px;
}

.right{
	width:260px;
	float:left;

	/*overflow:hidden;*/

}

* html .right{
	width:257px;
	float:left;
	z-index:4;
	overflow:hidden;

}

@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) { .left{
	width:181px;
	float:left;

	overflow:hidden;
}}
@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
.center{
	width:564px;
	float:left;


}}



.leftmenu{
	width:173px;
	margin: 7px 0px -2px 7px;
}
 
*html .leftmenu{

	margin:0px 0px 0px 8px;
}

.leftmenubox{
	background-image:url("../images/menu_centr.jpg");
	background-repeat:repeat-y;

}

.leftmenubox table{
	background-image:url("../images/menubg.jpg");
	background-repeat:no-repeat;
	background-position:top;
	width:173px;
	padding-left:5px;
	text-align:left;

}
.tdmenu{
	height:17px;
}

.tdmenu:hover {
	background-color:#a9375a;
}

.tdmenu_active {
	background-color:#a9375a;
}


A.leftmenulink:link {text-decoration: none; color:#ffffff; margin-left:3px; }
A.leftmenulink:visited {text-decoration: none; color:#ffffff; margin-left:3px;}
A.leftmenulink:active {text-decoration: none; color:#ffffff; margin-left:3px; }
A.leftmenulink:hover {text-decoration: none; color:#ffffff; margin-left:3px; }

A.leftsubmenulink:link {text-decoration: none; color:#CB1B51; margin-left:3px; /*font-style:italic;*/ }
A.leftsubmenulink:visited {text-decoration: none; color:#CB1B51; margin-left:3px; /*font-style:italic;*/}
A.leftsubmenulink:active {text-decoration: none; color:#CB1B51; margin-left:3px; /*font-style:italic;*/}
A.leftsubmenulink:hover {text-decoration: none; color:#CB1B51; margin-left:3px; /*font-style:italic;*/}

.konkursbox{
	position:relative;
	padding-left:0px;
	margin:12px 0px 12px 5px;
}

* +html .konkursbox{
	position:relative;
	padding-left:0px;
	margin:12px 0px 0px 3px;
}

.konkursbtt{
	position:absolute;
	top:49px;
	left:84px;
	width:80px;
	height:20px;

}

.forumbox{
	width:168px;
/*	padding-left:5px;
	margin-top:10px;

*/
  	margin-left:7px;
	margin-top:10px;
	margin-bottom:0px;
}

* +html .forumbox{
	margin-left:0px;
	margin-top:9px;

}

* html .forumbox{
	margin-left:3px;
	margin-top:9px;

}

.oprosbox{
	width: 168px;
	padding-left: 7px;
	margin-top: 15px;
  	margin-bottom: 0px;
}

* + html .oprosbox{
	padding-left:1px;
  margin-bottom:0px;
  /*margin-bottom:-17px;*/
/*  border: solid 1px green;*/
}

* html .oprosbox{
	padding-left:1px;
  margin-bottom:0px;
}

.forumbgbox{
	background-image:url("../images/forum_centr.jpg");
	background-repeat:repeat-y;
	text-align:left;

}

.forumbgbox table{
	background-image:url("../images/forumbg.jpg");
	background-repeat:no-repeat;
	background-position:top;
}
.forumbgbox table td.maneItem{
  position:relative;
}
div.imenaDiv{
  margin-bottom:10px;
  position:relative;
  height: 30px;
  width:148px;
  overflow: hidden;
}
div.imenaDiv a.linkstyle{
  font:12px sans-serif;
  color:#636060;
  text-decoration:underline;
}
div.imenaDiv a.linkstyle:hover{
  color:#970F39;
  text-decoration:underline;
}

.forumbgbox a.allNames{
  margin-left:10px;
  font:11px sans-serif;
  color:#c70a44;
  text-decoration:underline;
}
.forumbgbox a.allNames:hover{
	text-decoration: none;
}

A.linkstyle:link {text-decoration: underline; color:#4a4848; }
A.linkstyle:visited {text-decoration: underline; color:#4a4848;}
A.linkstyle:active {text-decoration: underline; color:#970f39; }
A.linkstyle:hover {text-decoration: underline; color:#970f39; }

.meinmenuleft{
	background-image:url("../images/mammenu_left.jpg");
	width:70px;
	height:27px;
	float:left;
	padding-top:10px;
}
.meinmenubg{
	background-image: url("../images/mainmenu.jpg");
	width:69px;
	height:27px;
	float:left;
	padding-top:10px;
}

*html meinmenubg{
  position: relative;
}

.meinmenuright{
	background-image: url("../images/mainmenu_right.jpg");
	width:69px;
	height:27px;
	float:left;
	padding-top:10px;
}


A.menulink:link {text-decoration: none; color:#ffffff;  }
A.menulink:visited {text-decoration: none; color:#ffffff; }
A.menulink:active {text-decoration: underline; color:#ffffff; }
A.menulink:hover {text-decoration: underline; color:#ffffff; }

.bodytitle{

	background-image:url("../images/body.jpg");
	background-repeat:no-repeat;
	width:552px;
	text-align:left;



}

*html .bodytitle{
	margin-bottom:-6px;
}

.bodybox{
	background-image:url("../images/body_center.jpg");
	background-repeat:repeat-y;
	width:552px;
	margin-top:10px;
	/*padding-bottom:8px;*/

}

*html .bodybox{
	margin-top:0px;
	margin-bottom:35px;

}

.toptable{
	background-image:url("../images/top_table.gif");
	width:552px;
	height:7px;
	background-repeat:no-repeat;

}
*html .toptable{
	margin-bottom:-8px;
}

.botttable{
	background-image: url("../images/bott_table.gif");
	width:552px;
	height:10px;
	background-repeat:no-repeat;
	margin-top:2px;
	//margin-top:-1px; /*IE6,7*/

}

/** + html .botttable{
	margin-top:-1px;

}*/


.centertable{
	background-image: url("../images/centr_table.gif");
	background-repeat:repeat-y;
	width:552px;
	margin-left:0px;
}

.tovleftbox{
	width:133px;
	height:133px;
	position:relative;
	float:left;
	border-bottom:none;
	border-left:none;
	border-right:#bac5c2 solid 1px;
	border-bottom:#bac5c2 solid 1px;
}

.tovrightbox{
	width:133px;
	height:133px;
	position:relative;
	float:left;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-bottom:#bac5c2 solid 1px;
}

.tovbotttbox{
	width:133px;
	height:133px;
	position:relative;
	float:left;
	border-bottom:none;
	border-left:none;
	border-right:#bac5c2 solid 1px;
	border-bottom:none;
}

.tovbox{
	width:133px;
	height:133px;
	position:relative;
	float:left;

}

.podrobnee{
	position:absolute;
	left:3px;
	bottom:1px;
	width:83px;
	height:54px;

}

.prodzagolovok{
	position:absolute;
	top:15px;
	left:5px;
	width:125px;
	text-align:left;

}

.rightbox{
	position:relative;
	margin-right:3px;
	margin-top:3px;
	height:128px;

}

.rightbuttons{
	position:absolute;
	right:40px;
	top:87px;

}

.rightbuttons A:link {text-decoration: underline; color:#FFFFFF;}
.rightbuttons A:visited {text-decoration: underline; color:#FFFFFF;}
.rightbuttons A:active {text-decoration: none; color:#FFFFFF; }
.rightbuttons A:hover {text-decoration: none; color:#FFFFFF;}


*html .rightbuttons{
	right:15px;
}

.rightinputs{
	position:absolute;
	top:34px;
/*max	right:48px;*/
	right:68px;

}

.rightinputs {
        position:absolute\0/;
        top:34px\0/;
        right:50px\0/;
}


html>/**/body .rightinputs, x:-moz-any-link, x:default { right:53px; } /* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ FireFox 3 */

.reginput{

	height:13px;
	border:none;
	font-size:10px;
	margin-bottom:13px;
	width:150px;
}

*html .rightinputs{
	position:absolute;
	top:33px;
	right:80px;

}

*html .reginput{

	height:11px;
	border:0px;
	font-size:11px;
	margin-bottom:14px;
	width:150px;
}

*:first-child+html .rightinputs{
	position:absolute;
	top:33px;
	right:90px;
	width:150px;

}

*:first-child+html .reginput{

	height:11px;
	border:0px;
	font-size:11px;
	margin-bottom:14px;
	width:125px;
}

html:first-child .rightinputs{
	position:absolute;
	top:36px;
	right:67px;

}

html:first-child .reginput{

	height:11px;
	border:0px;
	font-size:11px;
	margin-bottom:14px;
	width:125px;
}

.regbutt{
	position:absolute;
	top:87px;
	left:25px;

}

.body_bott{
	top:0px;
	height: 9px;
}

* + html .body_bott{
	position:static;
	top:0px;
}
*html .body_bott{
	position:static;
	margin-top:-35px;

}

.vertbannerbg_nleft{
	background-image:url("../images/banner_lit.jpg");
	background-repeat:no-repeat;
	width:172px;
	height:252px;
	padding-top:6px;

}

.vertbannerbg_nright{
	background-image:url("../images/banner_big.jpg");
	background-repeat:no-repeat;
	width:252px;
	height:356px;
	padding-top:6px;

}

.vertbannerbg, .vertbannerbg_right{
	background-image:url("../images/bannerbg.gif");
	background-repeat:no-repeat;
	width:212px;
	height:312px;
	padding-top:6px;

}

* html .vertbannerbg_right{
	margin-top:3px;
	padding-top:6px;
	}
	
.bunnRight{
  margin:8px 0px 10px 0px;
}	

*html .bunnRight{
  margin:0px 0px 0px 0px;
}	

* +html .bunnRight{
  margin:0px 0px 0px 0px;
}


* html .vertbannerbg{
	margin-top:10px;
	padding-top:6px;
	}

.logobgg{
	position:relative;
	background-image:url("../images/head.jpg");
	background-repeat:no-repeat;
	width:1005px;
	height:247px;
	color:#fff;
}

.budget{
	position:relative;
	background-image:url("../images/budget.jpg");
	background-repeat:no-repeat;
	width:248px;
	height:94px;
	margin-top:12px;
	margin-bottom:12px;
}

.budget_new{
	width:248px;
	height:94px;
	margin-top:12px;
	margin-bottom:12px;
}


*html .budget{
	width:248px;
}

* +html .budget{
	width:248px;
}

.budgetbutt{
	position:absolute;
	top:57px;
	left:133px;

}

.top_bun{
	position:relative;
	background-image:url("../images/top_bun.jpg");
	background-repeat:no-repeat;
	width:248px;
	height:94px;
	margin-top:12px;
	margin-bottom:12px;
}

.top_bunbutt{
	position:absolute;
	top:49px;
	left:85px;
	z-index:1;

}


.bottommenu{
	margin-top:6px;
	color:#4a4848;
	font-size:11px;
}

A.bottmenulink:link {text-decoration: none; color:#4a4848;  }
A.bottmenulink:visited {text-decoration: none; color:#4a4848; }
A.bottmenulink:active {text-decoration: underline; color:#4a4848; }
A.bottmenulink:hover {text-decoration: underline; color:#4a4848; }

.box{
	margin:2px 0px 0px 0px;
}

* .bunner_box{
	position: relative; 
	top: 0px; 
/*	top: -10px; */
	float: left; 
	left: 6px;
}
*html .bunner_box{
	position: relative; 
	top: 0px; 
	float: left; 
	left: 6px;
}
*+html .bunner_box{
	position: relative; 
	top: 0px; 
	float: left; 
	left: 6px;
}

/* 13.03.2010*/
.box_news{
	margin:5px 0px 0px 0px;
  overflow: hidden;
  height: 122px
	/*margin:2px 0px 15px 0px;*/
}

/*.box_news{
	margin:12px 0px 0px 0px;
} */ 

.maintextbox_head{
	background-image:url("../images/maintextbox_head.jpg");
	background-repeat:no-repeat;
	width:546px;
	height:10px;
	font-size:1px;
	z-index:0;
	position:relative;
	left:1px;

}


.maintextbox, .newsmaintextbox{
	background-image:url("../images/maintextbox_bg.jpg");
	background-repeat:no-repeat;
	background-position:top;
	border-bottom:#899895 1px solid;
	border-left:#899895 1px solid;
	border-right:#899895 1px solid;
	border-top:none;
	width:542px;
	text-align:left;
	z-index:1;
	position:relative;
}

*html .maintextbox{
	margin-left:0px;
	width:542px;
}

/** + html .maintextbox{
	margin-left:0px;
	width:542px;
}*/

*html .newsmaintextbox{
	margin-left:1px;
	width:542px;
}

.sekondtextbox_head{
	background-image:url("../images/sekondtextbox_head.jpg");
	background-repeat:no-repeat;
	width:546px;
	height:10px;
	font-size:1px;
/*	z-index:1;*/
	z-index:0;
	position:relative;
	left:1px;

}

.sekondtextbox_head_new{
	background-image:url("../images/sekondtextbox_head_new.jpg");
	background-repeat:no-repeat;
	width:546px;
	height:10px;
	font-size:1px;
/*	z-index:1;*/
	z-index:0;
	position:relative;
	left:1px;

}

.sekondtextbox{
	background-repeat:no-repeat;
	background-position:top;
	border-bottom:#899895 1px solid;
	border-left:#899895 1px solid;
	border-right:#899895 1px solid;
	border-top:none;
	width:542px;
/*{max 28.11.2008*/
	height:111px;
/*}max 28.11.2008*/
	text-align:left;
/*{max 11.11.2008*/
	position:relative;
/*}max 11.11.2008*/
}

.sekondtextbox_top{
	background-repeat:no-repeat;
	background-position:top;
	border-bottom:#899895 1px solid;
	border-left:#899895 1px solid;
	border-right:#899895 1px solid;
	border-top:none;
	width:542px;
	text-align:left;
/*{max 11.11.2008*/
	position:relative;
/*}max 11.11.2008*/
}

.sekondtext_text{
  float:left; 
  /*width:325px;*/
  width:360px;
  height:76px;
  /*overflow:hidden;*/
  text-align: justify;
  margin-top: 5px;
}
.sekondtext_text dl {
	margin: 0;
}

*html .sekondtext_text{
  height:105px;
}

.photobox{
	margin:-10px 10px -1px -1px;
	border:#899895 1px solid;
	float:left;
	z-index:2;
	width:159px;
	height:120px;
	overflow: hidden;
}
.photobox img {
	height:120px;
}
.winBox_title{
	position:relative;
	width:552px;
	height:auto;
	text-align:left;
}
.favorites{
	position:absolute;
	z-index:3;
	right:8px;
}
.buttonsAgents{
	position:relative;
	height:19px;
	text-align:right;
	margin-right:5px;
	margin-top:7px;
	width:548px;
}
.button_Agents_a{
   width:71px;
   height:19px;
   display:inline-block;
   margin-left:4px;
   background:url(../images/ddd/but_Agent.png) no-repeat;
}
.button_Agents_a a{
	display:block;
	font:11px sans-serif;
	padding-top:2px;
	text-decoration:none;
	text-align:center;
	color:#fff;
}
.button_Agents_a a:hover{
	text-decoration:none;
	color:#fff;
}
*html .photobox{
	/*margin:0px 10px 10px -1px;*/
	font-size:1px;
	position:relative;
	/*z-index:2;*/
}

h4{
	/*font-family: serif;*/
	font-family:Arial, Helvetica, sans-serif;

	font-size:15px;
	font-weight:bold;
	color:#c70b45;
	margin: 0px 0px 0px 0px;
}

a.head:link{text-decoration: none;}
a.head:visited{text-decoration: none;}
a.head:active{text-decoration: none;}
a.head:hover{text-decoration: none;}

h2{
	/*font-family: serif;*/
	font-family:Arial, Helvetica, sans-serif;

	font-size:20px;
	font-weight:normal;
	color:#636060;
	margin:0px 0px 2px 0px;
}

h3{
	/*font-family: serif;*/
	font-family:Arial, Helvetica, sans-serif;

	font-size:20px;
	font-weight:normal;
	color:#c70b45;
	margin:0px 0px 2px 0px;
}

h1{
	/*font-family: serif;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
	color:#636060;
	margin:10px 0px 2px 7px;
	padding:0px 5px 0px 5px;
}

*+ html h1{
	margin:0px 0px 0px 7px;
	padding:0px 5px 0px 5px;
}


a {text-decoration: none; color:#cb1b51;}
a:visited {text-decoration: underline; color:#cb1b51;}
a:active {text-decoration: none; color:#cb1b51; }
a:hover {text-decoration: none; color:#cb1b51;}

.tittlebox{
	text-align:left;
	margin:5px;

}

.gallerybox{
	margin:20px 0px 20px 0px;

}

.gallbigphotobox{

	width:540px;
	height:540px;

}

.gallviewerbox{
	width:530px;
	margin-top:10px;
}

.gallphotobox{
	height:120px;
	width:120px;
	border:#a1adaa solid 1px;
	float:left;
	margin:1px 1px 10px 1px;

  display: table;
  #position: relative;
  overflow: hidden;
}

.gallbutt{
	width:17px;
	height:120px;
	float:left;

}


/**************************30.10.08*************************/

.conkursbox{
	width:173px;
	height:250px;
	float:left;


}

.calcbox{

clear: both;
	margin:0px 30px 20px 20px;
	padding-top:20px;


}

.calcrow{
	width:270px;
	float:left;
	margin:0px 0px 0px 20px;
	height:25px;

}

*html .calcrow{
	margin:0px 0px 0px 0px;
	padding-left:20px;
	width:260px;
}

* + html .calcrow{
	margin:0px 0px 0px 0px;
	padding-left:20px;
	width:260px;
}

.calcrow2{

	float:left;
	margin-left:25px;
	height:25px;

}

.calcrow2 input{
	width:135px;
	border:solid 1px #a1adaa;

}


/**************************************************************/
.subMainMenu{
  margin-top:5px;
  text-align:left;
  margin-left:7px;
}

.subMainMenu a{
  color:#615F60;
  text-decoration: none;
}

.subMainMenu:hover{
  background: #E9E9E9;
  cursor:pointer;
}

.divSubMainMenu{
  margin-top:12px;
  border:solid 1px #8c8a8c;
  float:left;
  padding:5px;
  width:172px;

  position:relative;
  background: #FFFFFF;
  display: none;
}

*html .divSubMainMenu{
  position: absolute;
  margin-top:27px;
  margin-left:-70px;
  width:172px;
}
/*
.subMenuUgolok{
	background-image:url(/images/menu_ugolok.gif);
	width:6px;
	height:6px;
	position:absolute;
	bottom:-1px;
	left:-1px;
  z-index:101;
}
*/

/*10.11.2008*/

.trouble{
	padding-left:9px;
	margin-top:4px;
	margin-bottom:-7px;
}

*html .trouble{
	margin-top:-4px;
	margin-bottom:-7px;
}

*:first-child+html .trouble{
	margin-top:-4px;
	margin-bottom:-7px;
}

.trouble_index{
        padding-left:9px;
        margin-top:0px;
        margin-bottom:-7px;
}

@-moz-document url-prefix() {
  .trouble_index {padding-left:9px;
        margin-top:4px;
        margin-bottom:-7px;}
}

*html .trouble_index{
	padding-left:9px;
    margin-top:-4px;
    margin-bottom:-7px;
}

*:first-child+html .trouble_index{
	padding-left:9px;
    margin-top:-4px;
    margin-bottom:-7px;
}


.trouble_index {
	padding-left:9px\0/;
	margin-top:-3px\0/;
    margin-bottom:-7px\0/;
        
}

html:first-child .trouble_index {
  margin-top:0px;
  border:1px solid #060;
        margin-bottom:-7px;
}

.weddingportal{
	position:absolute;
	left:589px;
	top:27px;
	color:#FFFFFF;
	font-size:9px;


}

.divAllInfoLink{
  position:absolute;
  bottom:3px;
  right: 10px;
}
.divAllInfoLink a {
	text-decoration: underline;
}

.divCityLink{
  margin:5px;
  height:20px;
  position:relative;
  bottom:20px;
  width:450px;
  float:right;
	color:#ffffff;
}
.divCityLink a {
	color:#ffffff;
}

*html .divCityLink{
  bottom:0px;
  float: right;
  width: 400px;
}

* + html .divCityLink{
  margin-top:0px;
}



.divCityBefLink{
  position:relative;
  bottom:-6px;
  margin-left:5px;
  color:#ffffff;
/*  color:#C70B45;*/
  height:20px;
  margin-top:5px;
  width:100px;
}

* + html .divCityBefLink{
  bottom:0px;
}

* html .divCityBefLink{
  bottom:0px;
  position:block;
  float:left;
}

.divCityNews{
/*  background-color:#f5dee5;*/
  background-color:#a9375a;
  height:25px;
  margin:-3px 1px 1px 1px;

}

.divMainLink{
  position:absolute;
  width:300px;
  height:100px;
  left:390px;
  top:5px;
  cursor:pointer;
  #background: red;
  #filter: alpha(opacity=0);


}

#divStartPage{
  position:absolute;
  width:250px;
  height:20px;
  right:20px;
  bottom:-7px;
  cursor:pointer;
	font-size:9px;
	color:#636060;
	text-align:right;

}

.artikles{
	width: 208px;
	margin-top: 13px;
	margin-bottom: 0px;
}

* +html .artikles{
	margin-left:0px;
}

* html .artikles{
	margin-left:0px;
	margin-top:10px;
}

.artikles_right{
	width:248px;
	margin-left:0px;
	margin-top:10px;

}

* html .artikles_right{
	margin-left:0px;
	margin-bottom:12px;

}


.konkurs_photo{
  margin:20px 0px 20px 10px;
  float:left;
  width:540px;
}

* html .konkurs_photo{
  margin:20px 0px 20px 0px;
  width:532px;

}

/*{ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ - ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½*/
#main { position: absolute; display: none; top: 0px; left: -400px; background-color: #fff }

#modalbox { /*width: 220px; height: 130px; border: 1px solid #a9375a; */position: absolute; background-color: #E9E9E9; display:none;  }
#md_modalbox { /*width: 220px; height: 130px; border: 1px solid #a9375a; */position: absolute; /*background-color: #E9E9E9;*/ display:none; }

div#shade { background-color: #e4e4e4;/* width: 220px; height: 130px;*/ position: absolute; display: none; z-index: 1 }

.log { text-decoration: underline; cursor: pointer; color: #ff0000 }

#caption { background-color: #a9375a; border-bottom: 1px solid #fff; color: #fff; font: 11px verdana; padding: 4px; font-weight: bold }

#body { padding: 10px; font: 11px verdana; padding-top: 10px; padding-left:30px; text-align: center }

* html #body { padding-top: 0px; }
* + html #body { padding-top: 0px; }

#body table { font: 11px verdana }

#body a { color: #FF6600 }

.but { font: 11px verdana }
/*}ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ - ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½*/

a.city_link{color:#ffffff;}
a.city_link :link {color:#ffffff;}
a.city_link :visited {color:#ffffff;}
a.city_link :active {color:#ffffff;}
a.city_link :hover {color:#ffffff;}

#bunnLeft{
  margin-top:10px;/*2px ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½*/
  margin-bottom:0px;
  margin-left:7px;
}

* html #bunnLeft{
  margin-left:7px;
}

* + html #bunnLeft{
  margin-left:0px;
}

#ert{
  margin:0px;
  padding:0px;
  
}

.news_box{
  float:left;
  padding:5px;
  width: 530px;
}

.news_box h1{
  padding:0px;
	/*font-family: serif;*/
	font-family:Arial, Helvetica, sans-serif;

	font-size:20px;
	font-weight:normal;
	color:#c70b45;
	margin:0px 0px 2px 0px;
}

.dress_box_right{
	width:168px;
	margin-bottom:10px;
	margin-top:5px;
	margin-left:7px;
}


* +html .dress_box_right{
	width:168px;
	margin-bottom:10px;
	margin-top:5px;
	margin-left:2px;

}

* html .dress_box_right{
	width:168px;
	margin-bottom:10px;
	margin-top:5px;
	margin-left:2px;

}




* +html .forumbox{
	margin-left:0px;

}

.visit_block{
height: 8px;
}

* html .visit_block{
height: 0px;
}

#csroll_holder{
	height:11px;
	width:504px;
	background:url("../images/road.jpg") no-repeat;
	margin-top:10px;}
#scroll{
	width:76px;
	height:11px;
	background:url("../images/scroll.png") no-repeat;}

* html .ie {
	margin-top: 6px;
}

a.title_index:link{color:#636060;
font-family:Arial,Helvetica,sans-serif;
font-size:20px;
font-weight:normal;
text-decoration:none;
margin:0 0 2px;}
a.title_index:visited{color:#636060;
font-family:Arial,Helvetica,sans-serif;
font-size:20px;
font-weight:normal;
text-decoration:none;
margin:0 0 2px;}
a.title_index:active{color:#636060;
font-family:Arial,Helvetica,sans-serif;
font-size:20px;
font-weight:normal;
text-decoration:none;
margin:0 0 2px;}
a.title_index:link{color:#636060;
font-family:Arial,Helvetica,sans-serif;
font-size:20px;
font-weight:normal;
text-decoration:none;
margin:0 0 2px;}
a.title_index:visited:link{color:#636060;
font-family:Arial,Helvetica,sans-serif;
font-size:20px;
font-weight:normal;
text-decoration:none;
margin:0 0 2px;}

@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) { .dress_box_right{
  	width:168px;
	margin-bottom:10px;
	margin-top:12px;
	margin-left:7px;
}}



/* ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
@charset "windows-1251";
/* CSS Document */

.modal_box_backgr
{
	position: absolute;
	background-image: url("../images/modalbox.png");
	width: 428px;
	height: 259px;
}


.modal_box
{
	position: absolute;
	width: 428px;
	height: 259px;
	font-family: Arial, Helvetica, sans-serif;
}

.modal_box .close
{
	width: 24px;
	height: 24px;
	display: block;
	float: right;
}

.modal_box .header
{
	color: #fff;
	margin: 30px 0px 0px 30px;
	font-size: 18px;
}

.modal_box table
{
	margin-top: 5px;
	margin-left: 8px;
	width: 397px;
	height: 194px;
}

.modal_box td
{
	text-align: center;
	vertical-align: middle;
}

.modal_box .textlarge
{
	margin: 5px 0px 5px 0px;
	font-size: 36px;
}

.modal_box .text
{
	margin: 5px 0px 5px 0px;
	font-size: 24px;
}


.modal_box .textJs
{
	margin: 5px 0px 5px 0px;
	font-size: 24px;
}

.modal_box .textred
{
	margin: 5px 0px 5px 0px;
	color: #c70b45;
	font-size: 36px;
}

.modal_box .textsmall
{
	margin: 5px 0px 5px 0px;
	font-size:14px;
}

.modal_box a
{
	color: #cb1b51;
	font-size: 14px;
}

.modal_box .kodtxt
{
	margin-left: 68px;
	margin-top: 30px;
}

.modal_box .kodpic
{
	margin-top: 15px;
	margin-left: 68px;
	float: left;
}
* html .modal_box .kodpic
{
	margin-left: 34px;
}

.modal_box .kodinp
{
	margin-top: 30px;
	margin-left: 220px;
}

.modal_box .button
{
	background-image: url("../images/btt5.1.gif");
	background-repeat: no-repeat;
	width: 71px;
	height: 51px;
	border: none;
	cursor: pointer;
}

.modal_box .button_hover
{
	background-image: url("../images/btt5.1_a.gif");
	background-repeat: no-repeat;
	width: 71px;
	height: 51px;
	border: none;
	cursor: pointer;
}


.modal_box .kodinp
{
        margin-top: 30px;
        margin-left: 220px;
}

.modal_box .button
{
        background-image: url("../images/btt5.1.gif");
        background-repeat: no-repeat;
        width: 71px;
        height: 51px;
        border: none;
        cursor: pointer;
}

.modal_box .button_hover
{
        background-image: url("../images/btt5.1_a.gif");
        background-repeat: no-repeat;
        width: 71px;
        height: 51px;
        border: none;
        cursor: pointer;
}

*:first-child+html .modal_box_backgr
{
        background: transparent;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/modalbox.png', sizingMethod='crop');
}


/*Begin popup_form styles*/

.popup_bg {
	z-index: 1001;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url("../images/popup_bg.png");
	display: none;
}

.popup_bg a.closed {
	color: #424242;
	font: 12px Arial;
	height:16px;
	background: url("../images/popup_btn_close.jpg") no-repeat;
	background-position: right 0px;
	margin-top: 15px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding-right: 25px;
	float: right;
}

.popup_form {
	z-index: 101;
	height: 635px;
	width: 785px;
	background: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -392px;
	margin-top: -317px;
	padding-left: 15px;
	z-index: 1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/*End popup_form styles*/

.leftBigLink {
	display: block;
	height: 100%;
	width: 60px;
	position:absolute;
	left: 0;
	top: 0;
}
.rightBigLink {
	display: block;
	height: 100%;
	width: 60px;
	position:absolute;
	right: 0;
	top: 0;
}
.topBigLink {
	display: block;
	height: 100px;
	width: 100%;
	position:absolute;
	right: 0;
	top: 0;
}
.bottomBigLink {
	display: block;
	height: 15px;
	width: 100%;
	position: absolute;
	right: 0;
	bottom: -15px;
}
.maximabridal {
	display: block;
	width: 433px;
	height: 70px;
	background: url("../images/logo_animated.png") no-repeat;
	background-position: center 15px;
	padding-top: 15px;
	margin-bottom: 15px;
}
.content {
	margin-top: 32px;
}
.left, .center, .right {
	margin-top: -27px;
	position: relative;
	/*z-index: 100;*/
	/*22.07.2011*/

}
.content {
	position: relative;
	/*z-index: 100;*/
	/*22.07.2011*/
}

.select_Citys{
	 width: 155px;
	 height: 27px;
	 float: right;
	 margin-right: 5px;
	 margin-top: 10px;
	 background: url(../images/ddd/select_Citys.jpg) no-repeat;
}
.select_Citys select{
	color: #636060;
	font: 12px Arial;
	margin-top:4px;
	height:19px;
	width:137px;
}
.menu_container{
	background-image:url(../images/menubg.jpg);
	background-position:center 0;
	background-repeat:no-repeat;
	width:173px;
	height:auto;
	padding-top:19px;
}
.left_menu_agent{
	margin-left:9px;
	border-bottom:1px solid #f4a6bf;
	height:17px;
	vertical-align:middle;
	text-align: left;
	width:149px;
}
.left_menu_agent_a{
	margin-left:9px;
	border-bottom:1px solid #f4a6bf;
	background:#a9375a;
	height:17px;
	vertical-align:middle;
	text-align: left;
	width:149px;
}
.left_menu_agent_a a{
	font:12px sans-serif;
	color:#fff;
	display:block;
	height:17px;
	width:145px;
	text-decoration:none;
	padding-left:4px;
}
.left_menu_agent_a a:hover{
	background:#a9375a;
	text-decoration:none;
	color:#fff;
}

.left_menu_agent a{
	font:12px sans-serif;
	color:#fff;
	display:block;
	height:17px;
	width:149px;
	text-decoration:none;
	padding-left:4px;
}
.left_menu_agent a:hover{
	background:#a9375a;
	text-decoration:none;
	color:#fff;
}

/* å¯·æ±­æ£ í¦­ã±¿í±®å¯¢ */
.left_menu_agent_in{
	margin-left:9px;
	border-bottom:1px solid #f4a6bf;
	height:17px;
	width:149px;
	text-align: left;
	vertical-align:middle;
	background:#fff;
}
.submenu_icon{
	width:15px;
	height:17px;
	z-index:555;
	background-image:url(../images/submenu_li.jpg);
	background-repeat:no-repeat;
	background-position: center center;
}
.submenu_icon_a{
	width:15px;
	height:17px;
	background-image:url(../images/submenu_li_a.jpg);
	background-repeat:no-repeat;
	background-position: center center;
}
.submenu_icon_all-city{
	width:15px;
	height:17px;
	background:url(../images/ddd/submenu_icon_all-city.png) no-repeat center center;
	margin-left:-19px;
	margin-top:-1px;
	position:absolute;
	cursor: pointer;
}
.submenu_icon_all-city_minus{
	width:15px;
	height:17px;
	background:url(../images/ddd/submenu_icon_all-city_minus.png) no-repeat center center;
	margin-left:-19px;
	margin-top:-1px;
	position:absolute;
	cursor: pointer;
}
.submenu_city{
	height:17px;
	width:149px;
	z-index:1;
	margin-top:-17px;
}
.submenu_city a{
	text-decoration:none;
	color:#cb1b51;
	font:12px sans-serif;
	display:block;
	height:17px;
	padding-left:20px;
	width:129px;
}
.submenu_city a:hover{
	text-decoration:none;
	background:url(../images/ddd/hover_list.png) no-repeat;;
	color:#cb1b51;
}
.enter_blocks {
	text-align: left;
}
.enter_blocks a{
	text-decoration:none;
	color:#cb1b51;
	font:12px sans-serif;
}
.search111{
 height:58px;
 width:248px;
 position:relative;
}
.search111 .upPanel111{
 width:248px;
 height:20px;
}
clear{
 clear:both;
 padding:0;
 margin:0;
 border:0;
}
.search111 .upPanel111 .win1_111{
 height: 18px;
 padding-top: 2px;
 padding-left: 9px;
 padding-right: 9px;
 float: right;
 margin-right: 1px;
 border-top-left-radius: 3px;
 -moz-border-radius-topleft: 3px;
 -webkit-border-top-left-radius: 3px;
 border-top-right-radius: 3px;
 -moz-border-radius-topright: 3px;
 -webkit-border-top-right-radius: 3px;
 background:#fff;
 border-bottom:1px solid #cfcfcf;

}
.search111 .upPanel111 .win2_111{
 height:18px;
 width:79px;
 padding-top:2px;
 padding-left:10px;
 margin-right:9px;
 float:right;
 border-top-left-radius:3px;
 -moz-border-radius-topleft: 3px;
 -webkit-border-top-left-radius:3px;
 border-top-right-radius:3px;
 -moz-border-radius-topright: 3px;
 -webkit-border-top-right-radius:3px;
 background:#fff;
 border-bottom:1px solid #cfcfcf;

}
.search111 .upPanel111 .win2_111 a{
 font:11px sans-serif;
 color:#636060;
 text-decoration:underline;
}
.search111 .upPanel111 .win1_111 a{
 font:11px sans-serif;
 color:#c70a44;
 text-decoration:underline;
}

.search111 .botPanel111{
 width:248px;
 height:37px;
 background:url(../images/ddd/search111.png) no-repeat;
}
.search111 .botPanel111 input{
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border:1px solid #bfbfbf;
 height:21px;
 width:200px;
 position:relative;
 /*margin-left:5px;*/
 margin-left:-25px;
 margin-top:5px;
 font:12px sans-serif;
 padding-left: 5px;
}
.buttonSearch111{
 width:25px;
 height:25px;
 position:absolute;
 right:5px;
 top:26px;
}
.buttonSearch111 a{
 display:block;
 height:100%;
 text-align:center;
}

/*names*/
.insideBox_top_first_imena{
	width:544px;
	height:45px;
	text-align:left;
	top:0;
	left:0;
	background:url(../images/ddd/insideBox_bgTop.png) no-repeat;
}
.insideBox_top_first_imena p{
	padding-top:6px;
	padding-left:10px;
	color:#626061;
	font:21px Trebuchet MS;
}
.buttonsImena_male{
	height:21px;
	width:150px;
	position:relative;
	margin-left:10px;
}
.buttonsImena_male .male{
	float:left;
	width:61px;
	height:21px;
	position:relative;
	margin-right:13px;
}
.buttonsImena_male .male a{
	font:12px sans-serif;
	color:#c70b45;
	display:block;
	width:61px;
	height:21px;
	text-align:center;
	padding-top:3px;
	text-decoration:none;
}
.buttonsImena_male .male a:active{
	display:block;
	width:61px;
	height:21px;
	position:relative;
	text-align:center;
	color:#fff;
	font:12px sans-serif;
	padding-top:3px;
	text-shadow: 0 -1px -1px #e1620e;
	background:url(../images/ddd/male.png) no-repeat;
}
/*****/
.buttonsImena_male .male_a{
	float:left;
	width:61px;
	height:21px;
	position:relative;
	margin-right:13px;
}

.buttonsImena_male .male_a a{
	text-decoration: none;
	display:block;
	width:61px;
	height:21px;
	position:relative;
	text-align:center;
	color:#fff;
	font:12px sans-serif;
	padding-top:3px;
	text-shadow: 0 -1px -1px #e1620e;
	background:url(../images/ddd/male.png) no-repeat;
}

/*****/
.alphabetImena{
	width:520px;
	height:16px;
	position:relative;
	margin-top:10px;
	margin-left:10px;
}
.alphabetImena ul{
	padding:0;
	margin:0;
	border:0;
}
.alphabetImena ul li{
	color: #636060;
	font:17px sans-serif;
	list-style:none;
	float:left;
	padding:0;
	margin-right:8px;
}
.alphabetImena ul li a{
	text-decoration:underline;
	font:17px sans-serif;
	color:#c70b45;
}
.alphabetImena ul li a:hover{
	text-decoration:none;
	color:#626061;
}
.imenaBlock_names{
	width:166px;
	height:auto;
	position:relative;
	margin-left:10px;
	margin-top:25px;
	float:left;
}
.imenaBlock_names_long{
	width:519px;
	height:auto;
	position:relative;
	margin-left:10px;
	margin-top:40px;
	float:left;
}

.imenaBlock_names .title_imenaBlock{
	width:146px;
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	height:18px;
	position:relative;
	background:url(../images/ddd/bg_imenaTitle.png) no-repeat;
}
.imenaBlock_names_long .title_imenaBlock_long{
	width:499px;
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	height:18px;
	position:relative;
	background:url(../images/ddd/bg_imenaTitle_long.png) no-repeat;
}
.imenaBlock_names_long .title_imenaBlock_ping{
	width:499px;
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	height:18px;
	position:relative;
	background:url(../images/ddd/bg_titleImena_f.jpg) no-repeat;
}

.imenaBlock_names .title_imenaBlock .letter{
	font:bold 16px/12px Arial;
	color:#c70b45;
	float:left;
}
.imenaBlock_names_long .title_imenaBlock_long .letter{
	font:bold 16px/12px Arial;
	color:#c70b45;
	float:left;
}
.imenaBlock_names_long .title_imenaBlock_ping .letter{
	font:bold 16px/12px Arial;
	color:#fff;
	float:left;
}
.imenaBlock_names_long p{
	padding:10px;
	font:12px sans-serif;
	color:#646263;
}
.backMenu111{
	position:absolute;
	margin-top:10px;
	margin-left:10px;
}
.backMenu111 a{
	text-decoration:underline;
}
.imenaBlock_names .title_imenaBlock .allNames_imena{
    float:right;
    *position:relative;
    *right:10px;
}
.imenaBlock_names .title_imenaBlock .allNames_imena a{
	font:11px sans-serif;
	color:#c70b45;
	text-decoration:underline;
}
.imenaBlock_names ul.list_imena1{
	width:78px;
	float:left;
	padding:0;
	margin-top:7px;
	margin-left:10px;
}
.imenaBlock_names ul.list_imena1 li{
	list-style:none;
	font:12px sans-serif;
	color:#606060;
	line-height:18px;
	overflow: hidden;
	width: 68px;
}
.imenaBlock_names ul.list_imena1 li a{
	font:12px sans-serif;
	color:#606060;
	line-height:18px;
	text-decoration:none !important;
}
.imenaBlock_names ul.list_imena1 li a:hover{
	color:#c70b45;
	text-decoration:underline !important;
}
.imenaBlock_names ul.list_imena2{
	width:78px;
	float:left;
	padding:0;
	*position:absolute;
	*right:0px;
	margin-top:7px;
}
.imenaBlock_names ul.list_imena2 li{
	list-style:none;
	font:12px sans-serif;
	color:#606060;
	line-height:18px;
}
.imenaBlock_names ul.list_imena2 li a{
	font:12px sans-serif;
	color:#606060;
	line-height:18px;
	text-decoration:none;
}

.imenaBlock_names_long ul.list_imena_long{
	float:left;
	padding:0;
	width:150px;
	margin-top:7px;
	margin-left:10px;
}
.imenaBlock_names_long ul.list_imena_long li{
	list-style:none;
	line-height:18px;
}
.imenaBlock_names_long ul.list_imena_long li a{
	font:12px sans-serif;
	color:#606060 !important;
	line-height:18px;
    text-decoration: none !important;
}
.imenaBlock_names_long ul.list_imena_long li a:hover{
	text-decoration: underline !important; color:#970f39 !important;
}
.imenaBlock_names ul.list_imena_long li a{
	font:12px sans-serif;
	color:#606060 !important;
	line-height:18px;
	text-decoration:none;
}
/*names*/

.addEventForm {
	display: none;
	width: 400px;
}
.addEventForm textarea[name="text"] {
	height: 107px;
	width: 400px;
	resize: none;
}
#addButton {
	margin-top: 10px;
	visibility: hidden;
}
.selectedDate {
	font: 18px sans-serif;
	text-align: center;
	color: #222;
	height: 29px;
	padding-top: 3px;
	text-shadow: white 0 1px 1px;
}
textarea[class="editEvent"] {
	height: 80px;
	width: 510px;
	resize: none;
}

.socialEngine {
	list-style-type: none;
	margin-left: -40px;
}
.socialEngine li {
	float: left;
	width: 100px;
	overflow: hidden;
}

.tovarDescr .picAgency {
	width: 250px;
}
.tovarDescr .agencyBox_text {
	width: 270px;
}

.widget_body{
	position:relative;
	width:257px;
	height:auto;
	margin-top: 12px;
}
.widget_logo{
	width:257px;
	height:37px;
	left:0;
	top:0;
}
.widget_content{
	width:257px;
	background:url(../images/ddd/widget_bg.png) repeat-y;
}
.widget_upBg{
	position:absolute;
	z-index: 10;
	background:url(../images/ddd/widget_map_bgon.png) no-repeat;
	width:257px;
	height:9px;
}
.widget_downBg{
	position:absolute;
	z-index:20;
	background:url(../images/ddd/widget_map_bgBot.png) no-repeat;
	width:257px;
	height:20px;
	bottom:0;
}
.widget_info{
	width:238px;
	height:auto;
	/*margin-left:10px;*/
	margin-bottom:10px;
	
}
.widget_vote{
	text-align:center;
	height:50px;
}
.widget_vote span{
	font:12px sans-serif;
	color:#cd114b;
}
.buttonWig_yes{
	width:48px;
	height:19px;
	margin-top:7px;
	margin-bottom:3px;
	margin-left:67px;
}
.buttonWig_yes a{
	display:block;
	width:48px;
	height:19px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	font:12px sans-serif;
	padding-top:2px;
	background:url(../images/ddd/widget_button.png) no-repeat;
}
.buttonWig_no{
	width:48px;
	height:19px;
	margin-top:-22px;
	margin-left:124px;
}
.buttonWig_no a{
	display:block;
	width:48px;
	height:19px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	font:12px sans-serif;
	padding-top:2px;
	background:url(../images/ddd/widget_button.png) no-repeat;
}

.artist {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map33.png) no-repeat;
	position: absolute;
}
.agency {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map32.png) no-repeat;
	position: absolute;
}
.car-rent {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map31.png) no-repeat;
	position: absolute;
}
.banket {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map30.png) no-repeat;
	position: absolute;
}
.flowers {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map29.png) no-repeat;
	position: absolute;
}
.wedding {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map28.png) no-repeat;
	position: absolute;
}
.video {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map27.png) no-repeat;
	position: absolute;
}
.ceremony {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map26.png) no-repeat;
	position: absolute;
}
.hotel {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map25.png) no-repeat;
	position: absolute;
}
.party {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map24.png) no-repeat;
	position: absolute;
}
.music {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map23.png) no-repeat;
	position: absolute;
}
.register {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map22.png) no-repeat;
	position: absolute;
}
.clinics {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map20.png) no-repeat;
	position: absolute;
}
.make-up {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map19.png) no-repeat;
	position: absolute;
}
.honeymoon {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map18.png) no-repeat;
	position: absolute;
}
.mensuits {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map17.png) no-repeat;
	position: absolute;
}
.lingerie {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map16.png) no-repeat;
	position: absolute;
}
.wedding-ring {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map15.png) no-repeat;
	position: absolute;
}
.decorating {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map14.png) no-repeat;
	position: absolute;
}
.gifts {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map13.png) no-repeat;
	position: absolute;
}
.stylist {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map12.png) no-repeat;
	position: absolute;
}
.beauty {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map11.png) no-repeat;
	position: absolute;
}
.invitation {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map10.png) no-repeat;
	position: absolute;
}
.salon {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map9.png) no-repeat;
	position: absolute;
}
.assistance {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map8.png) no-repeat;
	position: absolute;
}
.salute {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map7.png) no-repeat;
	position: absolute;
}
.toaster {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map6.png) no-repeat;
	position: absolute;
}
.cake {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map5.png) no-repeat;
	position: absolute;
}
.dance {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map4.png) no-repeat;
	position: absolute;
}
.sport {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map3.png) no-repeat;
	position: absolute;
}
.photo {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map2.png) no-repeat;
	position: absolute;
}
.exclusive {
	height: 28px;
	width: 22px;
	background: url(../images/ddd/map1.png) no-repeat;
	position: absolute;
}
span.skype_pnh_print_container{display:inline !important;}
span.skype_pnh_container{display:none !important;}

.errorLog {
	clear: both;
	margin-top: -10px;
}

.wDressPager a.page,
.wDressPager a.page:link,
.wDressPager a.page:visited {
	color: #4e4e4e;
	font: 12px Arial, Helvetica, sans-serif;
	text-decoration: underline;
	padding: 2px 5px;
}
.wDressPager a.page:hover,
.wDressPager a.page:active,
.wDressPager a.page:visited:hover,
.wDressPager a.page_a,
.wDressPager a.page_a:link,
.wDressPager a.page_a:visited,
.wDressPager a.page_a:hover,
.wDressPager a.page_a:active,
.wDressPager a.page_a:visited:hover {
	color: #ffffff;
	font: 12px Arial, Helvetica, sans-serif;
	background: #c70b45;
	padding: 2px 5px;
	position: relative;
	text-decoration: underline;
}

.wDressPager a.pageLast,
.wDressPager a.pageLast:link,
.wDressPager a.pageLast:visited,
.wDressPager a.pageFirst,
.wDressPager a.pageFirst:link,
.wDressPager a.pageFirst:visited {
	color: #CB1B51;
	font: 12px Arial, Helvetica, sans-serif;
	text-decoration: underline;
	background: none;
}
.wDressPager a.pageLast:hover,
.wDressPager a.pageLast:active,
.wDressPager a.pageLast:visited:hover,
.wDressPager a.pageFirst:hover,
.wDressPager a.pageFirst:active,
.wDressPager a.pageFirst:visited:hover {
	color: #CB1B51;
	font: 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
	background: none;
}

.titleOnShop a,
.titleOnShop a:link,
.titleOnShop a:visited {
	color: #cb1b51;
	font-size: 20px;
	text-decoration: underline;
}
.titleOnShop a:hover,
.titleOnShop a:active,
.titleOnShop a:visited:hover {
	color: #cb1b51;
	font-size: 20px;
	text-decoration: none;
}

.agencyBox_text a,
.agencyBox_text a:link,
.agencyBox_text a {
	text-decoration: none
}