body {  /* Old text color: #72a0ad */
  color:#577c88;
  width:906px;
  margin:0 auto;
  padding:0;
  font-family:Arial, Verdana, Tahoma;
  font-size:14px;
}

a  {
  color:#577c88;
  text-decoration:underline;
}

a:hover {
  color:#5f5f5f;
}

h1 {
  color:#577c88;
  font-size:26px;
  font-weight:100;
  margin:0 0 20px 0;
}

.clear {
  clear:both;
}

.top-line {
  position:absolute;
  top:0;
  left:0;
  right:0;
  background:#f5f5f7;
  height:5px;
}

.header {margin-top:30px; height:120px;}

.header .logo {
  float:left;
  background:url(/img/logo.gif) center center no-repeat;
  width:230px;
  height:120px;
  display:block;
}

.header .menu {
  float:left;
  margin-left:120px;
  margin-top:10px;
  width:550px;
}

.header .menu div {
  margin-left:22px;
  float:left;
  font-family:Courier New, Courier, Arial, Verdana;
  font-size:11px;
  width:200px;
  padding:12px 20px;
  border-bottom:1px dotted #e8e8e8;
}

.header .menu a {
  display:block;
  color:#5f5f5d;
  text-decoration:none;
  padding-left:20px;
  background:url(/img/menu-dot.gif) center left no-repeat;
}

.header .menu a:hover {
  color:#000;
  text-decoration:underline;
}

.content {margin-top:40px; color:#577c88; text-align:justify;}
.content .text {width:575px; float:left;}
.content .photo {width:315px; float:right; padding-top:52px;}


.photo-options {
  position:relative;
  margin-top:40px;
  height:378px;
  width:904px;
  background:#f4f4f4;
}

.photo-options .photo {
  z-index:9;
  position:absolute;
  top:0;
  left:0;
  width:617px;
  height:378px;
  background-repeat:no-repeat;
  background-position:center left;
  background:url(/img/photo-santorini-0.png) center left no-repeat;
}


.photo-options .photo div {
  width:617px;
  height:378px;
  background-repeat:no-repeat;
  background-position:center left;
  background:url(/img/photo-santorini-0.png) center left no-repeat;
}

.photo-options .options {
  z-index:1;
  position:absolute;
  top:0;
  bottom:0;
  right:0px;
  font-size:22px;
}

.photo-options .options div {
  height:25px;
  color:#577c88;
  cursor:pointer;
  width:300px;
  text-align:right;
  padding:24px 20px;
  padding-bottom:25px;
  border-bottom:1px dotted #dadada;
}

.photo-options .options div.last {
  padding-bottom:26px;
}

.photo-options .options div:hover {
  background:#eeeeee;
}

.photo-options .options div.last {
  padding:26px 20px;
  border:none;
}

.footer {
  padding:6px 0;
  font-size:12px;
  margin-top:40px;
  border-top:5px solid #f5f5f5;
}

.footer .copy {
  float:left;
}

.footer .contacts {
  float:right;
  border-left:1px solid #f5f5f5;
}


.photo-options .photo div {background:url(/img/photo-sect-00.png) center left no-repeat;}

.index .header .logo {float:none; margin:0 auto;}
.index .photo-options {width:904px; margin:40px auto 0;}
.index .photo-options .photo {width:906px; background:url(/img/index-image.jpg);}
.index .photo-options .photo a {display:block; float:left; padding-top:330px; padding-bottom:12px; font-size:28px; color:#42808d; text-decoration:none;}
.index .photo-options .photo a:hover {text-decoration:underline;}
#wedding-santorini {width:470px; text-align:center;}
#wedding-cuba {width:436px; text-align:center;}
