a img {
    border: 0px;
}

form {
    margin: 0px;
    padding: 0px;
}

.ljclear {
    clear: both;
    margin: 0 -1px -1px 0;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
}

.nowrap {
    white-space: nowrap;
}

.lj_progresscontainer {
    height: 25px;
    width: 400px;
    margin: 1em;
    background: url(/img/progress/inactive.gif) repeat;
}

.lj_progressoverlay {
    background: url(/img/progress/active.gif) repeat;
}

.lj_progressindefinite {
    background-image: url(/img/progress/barber.gif);
}

.lj_hourglass {
        z-index: 20000;
}

.Note .Inner {
	background: #FFFFDD;
	border: 1px solid #FFCC33;
	padding: 8px;
	}

div.lj_ippu {
	background-color: #fff;
	border: 2px solid #444;
	padding: 2px;
}

div.lj_ippu_titlebar {
	background-color: #444;
	height: 20px;
	font-weight: bold;
	color: #fff;
	width: auto !important;
	padding: 5px 0 0 5px;
}

	div.lj_ippu_titlebar div {
		
	}

	.lj_ippu_titlebar img {
		opacity: .25;
	}
	
		.lj_ippu_titlebar img:hover {
			opacity: 1;
		}

.LJ_Placeholder_Container { /* see also lj_base-ie.css */
        display: table-cell;
        vertical-align: middle;
        border: 1px dashed #ccc;
        _position: relative;
        overflow: hidden;
}

.LJ_Placeholder_Container img { /* see also lj_base-ie.css */
        cursor: pointer;
        display: block;
        margin: 0 auto;
        _position: absolute;
        _top: 45%;
        _left: 45%;
}

.ljhidden {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        margin: 0;
        border: 0;
        padding: 0;
        font-size: 0.1px;
        line-height: 0;
        opacity: 0;
        filter: alpha(opacity=0);
}

div.ContextualPopup {
    position: relative;
	margin: 5px 0 0 20px;
	font: normal 11px "Arial", "Verdana", sans-serif !important;
    }

* html div.ContextualPopup {
	background: none !important;
	}

div.ContextualPopup div.Inner {
	position: relative;
	top: -2px;
	left: -2px;
    background-color: #fff !important;
    color: #000 !important;
	border: 1px solid #036;
	padding: 0px;
	width: 20em;
    }

* html div.ContextualPopup div.Inner {
	top: 0px;
	left: 0px;
	}

div.ContextualPopup .Content {
	padding: 2px 4px 6px 4px;
	margin-right: 50px;
	line-height: 1.4;
    }

   div.ContextualPopup .Relation {
       font-weight: bold !important;
       }

   div.ContextualPopup .Content .OnlineStatus {
       font-weight: bold;
       }

   div.ContextualPopup .Content .GizmoBlurb {
       font-size: smaller;
       }

div.ContextualPopup .Userpic {
    float: right;
	top: 0;
	right: 0px;
	padding: 4px 4px 0 0;
    }

* html div.ContextualPopup .Userpic {
	top: 2px;
	}

   div.ContextualPopup .Userpic img {
        margin: 0 auto;
		max-width: 50px;
		width:expression(this.width > 50 ? "50px" : this.width); /*IE Max-width */
		height: auto;
        vertical-align: middle;
        }

   div.ContextualPopup div.Inner a, div.ContextualPopup div.Inner a:visited {
        text-decoration: underline !important;
		font-weight: bold;
		color: #00C !important;
        }.ljad h4
{
    text-align: left;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    color: #444;
    margin: 0;
}
.ljad a
{
    font-size: 10px;
    border: 0;
}
.ljad img { border: 0; }
.ljadskyscraper
{
    width: 160px;
}
.ljadleaderboard, .ljadleaderboard-top, .ljadleaderboard-bottom
{
    width: 728px;
    margin-left: auto;
    margin-right: auto;
}
.ljadsmrect
{
    width: 185px;
}
.ljadmedrect
{
    width: 300px;
}
.ljad5linkunit
{
    width: 728px;
    margin-left: auto;
    margin-right: auto;
}
.ljadbadge
{
    width: 160px;
    margin-bottom: 15px;
}
/* Define text color and typography */
body {
    color: #000000;
    background-color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
a:link {
    color: #00C; background-color: transparent;
}
a:visited {
    color: #306; background-color: transparent;
}
a:active {
    color: #F60; background-color: transparent;
}
h1 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    color: #036; background-color: transparent;
    margin: 0 0 0.5em 0; padding: 0;
}
h1 a {
    font-weight: normal;
    font-size: 80%;
}
h2 {
    font-weight: normal;
    color: #036;
    margin: 0.3em 0 0.1em 0; padding: 0;
}
h3 {
    color: #024; background-color: transparent;
    font-style: italic;
    margin: 0.2em 0 0.2em 0; padding: 0;
}
p {
    margin: 0.75em 0;
}
body, dd, dt, th, td, p, div, li, pre, code, kbd { font-size: small; }
h3 { font-size: medium; }
h2 { font-size: large; }
h1 { font-size: x-large; }
li { margin-left: 0px; }

h1.title {
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

/* Shared vertical and horizontal layout CSS */
#Navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.17em;
    background-image: url("/stc/horizon/topbar-bg.png"); /* gradient */
    background-repeat: repeat-x;            /* repeat horizontally */
    background-color: #cbe4fd;              /* bottom pixel color in gradient */
    border-bottom: 1px solid #353833;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    z-index: 10;
}
#NavigationWelcomeLogo {
    position: relative;
    top: 0;
    left: 0;
    font-size: .8em;
    color: #444;
    height: 6.11em;
    margin: 0;
    padding: 0;
}
#NavigationWelcomeLogo a {
    color: #444;
    font-weight: 700;
}
#MiniSiteMap {
    width: 100%;
    white-space: nowrap;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #333;
    margin: 3em auto 0 auto;
    padding: .5em 0 .5em 0;
    text-align: center;
}
#MiniSiteMapWrapper {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
#MiniSiteMap ul {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding:0 .5em 0 .5em;
}
#MiniSiteMap ul li {
    font: 12px Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 3px 0 3px 0;
}
#MiniSiteMap a {
    color: #036;
}
#MiniSiteMap #MiniSiteMapCol0, #MiniSiteMap #MiniSiteMapCol5 a {
    font-weight: bold;
}
#Content pre {
   line-height: 1em;
}

/* Utility CSS */
.clear {
    clear: both;
    margin: 0 -1px -1px 0;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0%;
}

.hide {
    display: none;
}
hr {
    border: 0;
    width: 100%;
    color: #369; background-color: #369;
    height: 2px;
}
table.edged {
    border: 2px solid #c5dff9;
}
table.edged td {
    border: 1px solid #8fc3f7;;
}
.standout {
    text-align: center;
}
.standout .container {
    color: #000; background-color: #c5dff9 !important;
    border: 1px solid #8fc3f7;
    padding: 3px;
    /* margin shorthand isn't recognized by IE5/Mac */
    margin-top: auto; margin-bottom: auto;
    margin-left: auto; margin-right: auto;
    width: auto;
    text-align: left;
}
.errorbar {
    color: #000;
    font: 12px Verdana, Arial, Sans-Serif;
    background-color: #FFEEEE;
    background-repeat: repeat-x;
    border: 1px solid #FF9999;
    padding: 8px;
    margin-top: auto; margin-bottom: auto;
    margin-left: auto; margin-right: auto;
    width: auto;
    text-align: left;
}
.warningbar {
    color: #000;
    font: 12px Verdana, Arial, Sans-Serif;
    background-color: #FFFFDD;
    background-repeat: repeat-x;
    border: 1px solid #FFCC33;
    padding: 8px;
    margin-top: auto; margin-bottom: auto;
    margin-left: auto; margin-right: auto;
    width: auto;
    text-align: left;
}
.de {
    color: #909090; background-color: #ffffff;
}

/* layout */

.talk-comment {
    margin-top: 1em;
    margin-bottom: 0px;
}
#commenttext { width: 100%; }

/* Form Items */
.formitem {
    color: #343434;
    font-size: 1em;
}

.formnumber {
    font-weight: bold;
    margin-top: 1.8em;
    font-size: .9em;
}

.formitemName {
    font-weight: bold;
    font-size: .9em;
    margin-top: 1.8em;
}

.formitemDesc {
    margin-top: .4em;
    margin-bottom: .4em;
    color: #505050;
}

.formitemNote {
    color: #da6320;
    font-size: .9em;
    margin-top: .4em;
    margin-bottom: .4em;
}

.formitemFlag {
    color: #CE0000;
    font-size: .9em;
    margin-top: .4em;
    margin-bottom: .4em;
}

.borderedtable {
    border: solid 1px black;
}

/* the top of the borderedtable, use th tags for header columns */
.borderedtable th {
    background-color: #dddddd;
    border-bottom: solid 1px black;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

/* Extended.css */
.hide {
    display: none;
}
div.centered {
    text-align: center;
    width: 100%;
}
.lesstop {
    margin-top: 2px;
}
.de {
    color: #909090; background-color: #ffffff;
}
#ljbreadcrumbs {
    text-align: left;
    white-space: nowrap;
    font: 11px Arial, Geneva, Helvetica, sans-serif;
    margin-left: 0;
    margin-bottom: 1em;
}

/* layout */

#content pre {
   line-height: 1.1em;
   font-size: 1.1em;
}
#Comments q {
    font-style: italic;
}
div.transparentpng { display: none; margin: 0; padding: 0; }
img.transparentpng { border: 0; }
#top {
    position: relative;
    top: 0;
    left: 0;
    font-size: .8em;
    color: #444;
    background: #ccc;
    height: 9em;
}
#top .body {
    margin: 0 0 0 10px;
}
#Content {
    margin: 110px 30px 20px 30px;
    padding: 10px;
}
#feedback {
    background: #c93;
    color: #fff;
    font-weight: bold;
    font-size: .8em;
    width: 23.1em;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding: .5em;
}
#feedback a {
    color: #fff;
}
#Logo {
    position: absolute;
    top: 3px;
    left: 12px;
    z-index: 200;
}
#SiteName {
    position: absolute;
    top: 37px;
    left: 90px;
    z-index: 200;
}
#Login {
    position: absolute;
    right: 10px;
    top: 5px;
    height: 7.38em;
    background-color: #cfe7ff;
    border: 0px;
    z-index: 150;
    text-align: center;
    -moz-border-radius: .5em .5em 0 0; /* Mozilla gets a cool rounded border */
    border-radius: .5em .5em 0 0; /* Any compliant browser is free to show it */
}
/* Opera needs a different height */
@media all and (min-width: 0px) {
    #Login {
        height: 7.34em;
    }
}

#Login input {
    font-size: .8em;
}
#Login a {
    font-size: .8em;
    white-space: nowrap;
    color: #369;
    line-height: 1.6;
}
#Login table {
    margin: 7px 5px 0px 5px;
}
#Login table td {
    vertical-align: top;
    text-align: left;
    font-size: 1em;
}
#Login table .desc,
#Login table label {
    font-size: .9em;
    vertical-align: middle;
    text-align: right;
}
#NavBar {
    position: absolute;
    top: 5.6em;
    left: 0;
    width: 100%;
    padding: 0;
    background: #2e487a;
    z-index: 90;
}
#NavMenu {
    margin: 0;
    padding-left: 97px;
    border: 0px;
    font-size: .8em;
    height: 2.6em;
    list-style-type: none;
    color: #fff;
}
/* Opera needs a different height */
@media all and (min-width: 0px) {
    #NavMenu {
        height: 2.7em;
    }
}
#NavMenuItem0 {
    width: 90px;
}
.NavMenuItem {
    cursor: pointer;
    margin: 0;
    padding-left: 0;
    margin-right: .5em;
    border: 0;
    white-space: nowrap;
    width: auto;
    height: 25px;
    line-height: 16px;
    float: left;
    display: block;
    margin-top: 0;
}
.NavMenuItem a, .NavMenuItem a:visited {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    padding: .4em;
    display: block;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #2e487a;
}
.NavMenuItem a:hover, #Alpha {
    color: #114577;
    background-color: #fff;
    background-image: url("/stc/horizon/toplevel-bg.png");
    background-repeat: repeat-x;
}
#NavMenuSearch {
    display: none;
    float: right;
    clear: right;
    position: absolute;
    right: 3em;
    padding-top: .1em;
}
#NavMenuSearch input, #NavMenuSearch select {
    vertical-align: middle;
    margin: 0 2px 0 2px;
}
#Footer {
    display: block;
    width: 100%;
    text-align: center;
    color: #ccc;
    margin: .5em 0 0 0;
    padding: 3px 0 5px 0;
    list-style-type: none;
}
#Footer li {
    font: normal 11px "Arial", sans-serif;
    display: inline;
}
#Footer a {
    color: #036;
    padding: 5px;
}
